# Next Auth Secret
# Can be generated using `npx auth secret` or `openssl rand -base64 33`
AUTH_SECRET=YourSecret

# MongoDB URI
MONGODB_URI=mongodb://localhost:27017/your-database

# Next Auth Providers
# Github
GITHUB_CLIENT_ID=YourClientId
GITHUB_CLIENT_SECRET=YourClientSecret