# Next Auth Secret
# Can be generated using `npx auth secret` or `openssl rand -base64 33`
AUTH_SECRET=YourSecret

# MongoDB URI
MONGODB_URI=mongodb://root:example@localhost:27017/your-database

# MongoDB Credentials for Docker
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example

# Next Auth Providers
# Google
GOOGLE_CLIENT_ID=ClientID
GOOGLE_CLIENT_SECRET=ClientSecret

# Resend
RESEND_API_KEY=ApiKey
RESEND_FROM=no-reply@example.com